In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
f  = "../data/Precios_combustible.csv"

df = pd.read_csv(f,)
df.set_index(["Fecha"])
df.Fecha = pd.to_datetime(df.Fecha,format = "%d/%m/%Y")
df.set_index(["Fecha"])

           Gasolina Regular Gasolina Premium Diésel
Fecha
2017-01-01            15,99            17,79  17,05
2017-01-02            16,02            17,82  17,08
2017-01-03            16,02            17,83  17,08
2017-01-04            16,02            17,83  17,08
2017-01-05            16,02            17,83  17,08
...                     ...              ...    ...
2023-02-24            21,76            24,05  23,62
2023-02-25            21,75            24,07  23,63
2023-02-26            21,76            24,07  23,62
2023-02-27            21,78            24,08  23,63
2023-02-28            21,78            24,08  23,65

[2250 rows x 3 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2250 entries, 0 to 2249
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha             2250 non-null   datetime64[ns]
 1   Gasolina Regular  2250 non-null   object
 2   Gasolina Premium  2250 non-null   object
 3   Diésel            2250 non-null   object
dtypes: datetime64[ns](1), object(3)
memory usage: 70.4+ KB

In [ ]:
fig, ax = plt.subplots()  # Create a figure containing a single axes.
ax.plot(df.Fecha , df.Diésel) 
ax.plot(df.Fecha, df["Gasolina Premium"])
ax.plot(df.Fecha, df["Gasolina Regular"])